{% load static %}
{% load network_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="" data-user-id="{{ request.user.id }}">
            <div class="navigation-container">
              <h1 class="company-label">Network</h1>
              <ul class="">
                {% if user.is_authenticated %}
                    <li class="">
                        <a class="{% if request.path == '/users/'|concat:request.user.id %}current{% endif %}" href="{% url 'users' request.user.id %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="">
                  <a class="{% if request.path == '/' %}current{% endif %}" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="">
                        <a class="{% if request.path == '/following' %}current{% endif %}" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="">
                        <a class="{% if request.path == '/login' %}current{% endif %}" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="">
                        <a class="{% if request.path == '/register' %}current{% endif %}" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>

        {% block scripts %}
        {% endblock %}
    </body>
</html>