{% extends "network/layout.html" %}
{% block title %}{{ username }}{% endblock %}
{% block body %}
<h1 style="margin-left: .5em;">{{ username }}</h1>
<p style="margin-left: 1.5em;">Following: {{ following|length }}</p>
<p style="margin-left: 1.5em;">Followers: <span id="followers">{{ followers|length }}</span></p>
{% if request.user.id != id %}
<form action="#" id="follow-form">
    {% csrf_token %}
    <button class="follow{% if is_following %} following{% endif %}" data-user-id="{{ id }}" data-following={% if is_following %}true{% else %}false{% endif %} type="submit"></button>
</form>
{% endif %}

{% if request.user.id == id %}
<h2 style="margin-left: .5em;">Your posts</h2>
{% else %}
<h2>{{ username }}'s posts</h2>
{% endif %}
{% include "network/posts_include.html" %}

<script>
    document.addEventListener("DOMContentLoaded", function() {

        const followForm = document.querySelector("#follow-form");
        if (followForm) {

            followForm.addEventListener("submit", function(e) {
                e.preventDefault()
                const followButton = followForm.querySelector("button");
                const following = followButton.dataset.following == "true";
                fetch(`/users/${followButton.dataset.userId}/following`, {
                    method: following ? "DELETE" : "POST",
                    mode: "same-origin",
                    headers: new Headers({
                        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                    })
                })
                .then(r => {
                    if (r.status == 200) {
                        followButton.dataset.following = !following;
                        followButton.classList.toggle("following")
                        const followers = document.querySelector("#followers");
                        followers.innerText = parseInt(followers.innerText) + (following ? -1 : 1);
                    } else {
                        alert("Could not unfollow you from the user")
                    }
                }).catch(e => {console.log(e)})
            })
        }
    })
</script>
{% endblock %}