html, body {
    scroll-behavior: smooth;
}
html, body, p, h1, h2, h3, h4, ul, li {
    margin: 0;
    padding: 0;
}

form {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5em;
    box-sizing: border-box;
}
textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 5em;
}
.post {
    margin: .5em 0;
    border: 1px solid gray;
    padding: 1em .5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}
.editing div {
    display: none;
}
.editing form {
    display: initial;
}
.svg{
    transition: .3s ease; 
    cursor: pointer;
}
.svg .path2 {
    fill: black;
}
.svg-active .path2 {
    fill: red;
}
.svg:hover {
    fill: red;
}
.svg-active:hover {
    fill: black;
}
.options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    padding: 0;
    margin: 0;
}
.options span {
    margin-right: 1em;
}

.follow::after {
    content: "Follow";
}
.following::after {
    content: "Following";
}

time {
    color: gray;
}

.hidden {
    display: none;
}