form {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5em;
    box-sizing: border-box;
}
textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 5em;
}
.post {
    margin: .5em 0;
    border: 1px solid gray;
    padding: 1em .5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}
.editing div {
    display: none;
}
.editing form {
    display: initial;
}
.heart {
    filter: invert(100%);
}
.liked {
    filter: invert(0%);
}