{% extends 'auctions/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'auctions/add_listing.css' %}">
{% endblock %}
{% block title %}Create Listing{% endblock %}
{% block body %}
<form action="{% url 'add_listing' %}" method="POST">
    {% csrf_token %}
    <div>
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div>
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>
    <div>
        {{ form.starting_bid.label_tag }}
        {{ form.starting_bid }}
    </div>
    <div>
        {{ form.image.label_tag }}
        {{ form.image }}
    </div>
    <div>
        <label for="categories">Categories: </label>
        {{ form.categories }}
    </div>
    <button type="submit">Create</button>
</form>
<script>
    const width = document.querySelector('textarea').clientWidth-4;
    const inputs = document.querySelectorAll('input');
    inputs.forEach(item => {
        item.style.width = width + 'px';
    })
    document.querySelector('select').style.width = (width+8) + 'px';
</script>
{% endblock %}
