{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <!--fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet"> 
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <h3><strong>Auctions</strong></h3>
            <ul class="links-container">
                <li class="nav-item {% if request.path == '/' %}current{% endif %}">
                    <a href="{% url 'index' %}">Active Listings</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item {% if request.path == '/listings' %}current{% endif %}">
                        <a href="{% url 'listings' %}">Personal Listings</a>
                    </li>
                    <li class="nav-item {% if request.path == '/view_categories' %}current{% endif %}">
                        <a href="{% url 'view_categories' %}">Categories</a>
                    </li>
                    <li class="nav-item {% if request.path == '/add_listing' %}current{% endif %}">
                        <a href="{% url 'add_listing' %}">Create Listing</a>
                    </li>
                    <li class="nav-item {% if request.path == '/watching' %}current{% endif %}">
                        <a style="display: flex; align-items: center;" href="{% url 'watching' %}">Watch List<div class="button">{{ watch_list_length }}</div></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if request.path == '/login' %}current{% endif %}">
                        <a href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item {% if request.path == '/register' %}current{% endif %}">
                        <a href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <section class="body-container">
            {% block body %}
            {% endblock %}
        </section>
        <footer>
            <p>Mario Molinito's CS50w project.</p>
        </footer>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
