{% extends 'auctions/layout.html' %}
{% block title %}Viewing '{{ listing.title }}{% endblock %}
{% block body %}
<h1>Listing: {{ listing.title }}</h1>
{% if request.user.id != listing.owner.id %}
<!--if alreayd in watchlist then display option to remove from watchlist-->
<button>Add to watchlist</button> 
{% endif %}
{% if listing.image %}
<img src="{{ listing.image }}" height="350px" width="auto">
{% endif %}
<p>{{ listing.description }}</p>
<h3><strong>${{ highest_bid.amount }}</strong></h3>
<p>{{ bids|length }} bid(s). {% if highest_bid.user.id == request.user.id %}You're the current user with the highest bid.{% endif %}</p>
<!--display the total bids, and if the current bid is by the current user-->
<form action="{% url 'post_bid' listing.id %}" method="POST">
    {% csrf_token %}
    <input type="number" placeholder="Bid" min="{{ highest_bid.amount|add:1 }}" step=".01" name="amount" required> 
    <button type="submit">Place Bid</button>
</form>
<h4>Details: </h4>
<ul>
    <li>Listed by: <a href="{% url 'user_view' listing.owner.id %}">{{ listing.owner.username }}</a></li>
    <li>Category: No category</li>
</ul>
{% endblock %}
