{% extends 'auctions/layout.html' %}
{% block title %}Viewing '{{ listing.title }}{% endblock %}
{% block body %}

{% with is_closed=listing.closed %}
{% if listing.owner.id == request.user.id %}
{% if is_closed == False %}
<form action="{% url 'close_listing' listing.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="danger">Close bid.</button>
</form>
{% endif %}
{% endif %}

<!-- if the current user is not the owner of the listing currently being viewed -->
{% if listing.owner.id != request.user.id %}
<!-- and if the listing is closed -->
{% if is_closed %}
<!-- and if winner of the bid is the current user viewing the page -->
{% if highest_bid.user.id == request.user.id %}
<!-- display that the user was won the bid -->
<p>You won the bid for this listing. Now pay up!</p>
{% else %}
<!-- else if the user is did not win the bid of the closed listing -->
<p>You did <strong>NOT</strong> win the bid for this listing. (listing closed)</p>
<!-- end of checking if the user won the closed listing -->
{% endif %}
{% else %}
<!-- end of checking if the listing is closed -->
<!-- and if the current is user is watching the listing -->
{% if watching %}
<!-- show code to remove form watching -->
<form action="{% url 'remove_watching' listing.id %}" method="POST">
    {% csrf_token %}
    <button class="button" type="submit">Remove from watch list</button>
</form>
<!-- else the user is not watching the current listing show code to add to watching list -->
{% else %}
<form action="{% url 'add_watching' listing.id %}" method="POST">
    {% csrf_token %}
    <button class="button" type="submit">Add to watch list</button>
</form>
<!-- end of watching checking statement -->
{% endif %}
{% endif %}
<!-- end of checking if the user is not the current listing owner -->
{% endif %}

<section class="{% if listing.image|length == 0 %}no-listing-image{% endif %} listing-view" >
    <section class="" style="flex-direction: column; align-items: center;">
        <div>
            <h1 style="font-size: 1.5em;">Listing: {{ listing.title }}</h1>
            {% if listing.image %}
            <img src="{{ listing.image }}" stlye="box-shadow: 0em 1em 1em black" height="350px" width="auto">
            {% endif %}
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-around; height: 80%;">
            <p class="listing-description" style="margin: .5em 0;">{{ listing.description }}</p>
            <div style="display: flex; width: 100%; justify-content: space-between;">
                <div style="display: flex;flex-direction: column;align-items: flex-start;">
                    <h4>Details: </h4>
                    <ul style="margin: .5em 0; text-align: left;">
                        <li>Listed by: <a href="{% url 'user_view' listing.owner.id %}">{{ listing.owner.username }}</a></li>
                        <li>Categories: {% if categories|length > 0 %}{% for category in categories %}{{ category.title }},{% endfor %}{% else %}No Categories.{% endif %}</li>
                    </ul>
                </div>
                <div style="display: flex;flex-direction: column;align-items: flex-end;">
                    <p style="margin-top: 1em;word-break: break-all; max-width: 70%;">{% if is_closed %}Final bid: {% else %}{% if bids_length == 0 %}Starting bid price: {% else %}Current bid price: {% endif %}{% endif %}<strong>${{ highest_bid.amount }}</strong> <sub>{{ bids_length }} bid(s). {% if highest_bid.user.id == request.user.id and request.user.id != listing.owner.id %}You're the current user with the highest bid.{% endif %}</sub></p>
                    {% if listing.owner.id != request.user.id %}
                    <form action="{% url 'post_bid' listing.id %}" method="POST">
                        {% csrf_token %}
                        <input type="number" placeholder="Bid" min="{{ highest_bid.amount|add:1 }}" step=".01" name="amount" required value="{{ highest_bid.amount|add:1 }}"> 
                        <button type="submit">Place Bid</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</section>
<hr>
<section class="comments">
    <h2 style="margin-bottom: .5em;">Comments</h2>
    <form action="{% url 'add_comment' listing.id %}" method="POST" style="display: flex; align-items: flex-end; justify-content: center; margin-bottom: .5em;">
        {% csrf_token %}
        <div>
            {{ form.comment }}
        </div>
        <button type="submit" style="margin-left: .5em;">Add Comment</button>
    </form>
    {% if comments|length > 0 %}
    <ul>
    {% for comment in comments %}
    <li><strong>{{ comment.user.username }}</strong> : {{ comment.comment }}</li>
    {% endfor %}
    {% else %}
    <p>There are no comments</p>
    {% endif %}
</section>
{% if is_closed %}
    <script>
        document.querySelectorAll('input').forEach(item => {
            item.disabled = true;
        })
        document.querySelectorAll('button').forEach(item => {
            item.disabled = true;
        })
        document.querySelector('textarea').disabled = true;
        document.querySelectorAll('form').forEach(item => {
            item.addEventListener('submit', function(e) {
                e.preventDefault();
            })
        })
    </script>
{% endif %}
{% endwith %}
{% endblock %}