body {
    padding: 10px;
}
.listing-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.listing {
    border: 1px solid gray;
    display: flex;
    align-items: flex-start;
    padding: 0 5em;
}
.listing img {
    margin-right: 3em;
}
.button {
    background: gray;
    color: white;
    padding: .3em;
    min-width: .5em;
    margin-left: .5em;
}
.nav {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav li {
    list-style-type: none;
    margin: 0 .5em;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
.closed {
    background: darkred;
    color: red;
    opacity: .5;
}
.comments {
    border-top: 1px solid black;
}
.comments textarea {
    min-height: 1em;
}

