{% extends 'encyclopedia/layout.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
{% if form.errors|length > 0 %}
<ul style="background: darkred; color: red; width: 100%; margin-left: 0; padding: .5em 0 .5em .5em;"> 
    Error List
{% for title, error in form.errors.items %}
    {{error}}
{% endfor %}
</ul>
{% endif %}
<h1>{{header}}</h1>
<form action="{{form_action}}" method="POST">
    {% csrf_token %}
    {{form.as_table}}
    <button type="submit">Submit</button>
</form>
{% endblock %}
